<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-07-27-2.md</key>
			<dict>
				<key>lastModification</key>
				<real>494933406.84816599</real>
				<key>version</key>
				<dict>
					<key>691311c831425bb8243fed4f0f6e11f1161a2d203c97be0141b73b90047ae527</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>2016-7-27.md</key>
			<dict>
				<key>lastModification</key>
				<real>494927946.78339303</real>
				<key>version</key>
				<dict>
					<key>691311c831425bb8243fed4f0f6e11f1161a2d203c97be0141b73b90047ae527</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>The Crowd.md</key>
			<dict>
				<key>lastModification</key>
				<real>495033919.08654797</real>
				<key>version</key>
				<dict>
					<key>691311c831425bb8243fed4f0f6e11f1161a2d203c97be0141b73b90047ae527</key>
					<integer>8</integer>
					<key>d8ea55524e60bb17a08b38591f1097241dd8ffba5c36971e7704ca8ca83dde2f</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-7-27.md</string>
		</array>
		<array>
			<string>2016-07-27-2.md</string>
		</array>
		<array>
			<string>The Crowd.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>691311c831425bb8243fed4f0f6e11f1161a2d203c97be0141b73b90047ae527</key>
			<integer>8</integer>
			<key>d8ea55524e60bb17a08b38591f1097241dd8ffba5c36971e7704ca8ca83dde2f</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
