<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>JS.md</key>
			<dict>
				<key>lastModification</key>
				<real>496313146.44436902</real>
				<key>version</key>
				<dict>
					<key>691311c831425bb8243fed4f0f6e11f1161a2d203c97be0141b73b90047ae527</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>My_book_list.md</key>
			<dict>
				<key>lastModification</key>
				<real>496808363.80732799</real>
				<key>version</key>
				<dict>
					<key>691311c831425bb8243fed4f0f6e11f1161a2d203c97be0141b73b90047ae527</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>495080534.02137202</real>
				<key>version</key>
				<dict>
					<key>691311c831425bb8243fed4f0f6e11f1161a2d203c97be0141b73b90047ae527</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>android-debug.md</key>
			<dict>
				<key>lastModification</key>
				<real>496219895.81434703</real>
				<key>version</key>
				<dict>
					<key>691311c831425bb8243fed4f0f6e11f1161a2d203c97be0141b73b90047ae527</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>architect.md</key>
			<dict>
				<key>lastModification</key>
				<real>495080573.71736801</real>
				<key>version</key>
				<dict>
					<key>691311c831425bb8243fed4f0f6e11f1161a2d203c97be0141b73b90047ae527</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>李笑来读书live.md</key>
			<dict>
				<key>lastModification</key>
				<real>496239612.22768599</real>
				<key>version</key>
				<dict>
					<key>691311c831425bb8243fed4f0f6e11f1161a2d203c97be0141b73b90047ae527</key>
					<integer>11</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>architect.md</string>
		</array>
		<array>
			<string>My_book_list.md</string>
		</array>
		<array>
			<string>android-debug.md</string>
		</array>
		<array>
			<string>李笑来读书live.md</string>
		</array>
		<array>
			<string>JS.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>691311c831425bb8243fed4f0f6e11f1161a2d203c97be0141b73b90047ae527</key>
			<integer>20</integer>
		</dict>
	</dict>
</dict>
</plist>
